<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :producto %>
    <%= form.text_field :producto, id: :product_producto %>
  </div>

  <div class="field">
    <%= form.label :precio_compra %>
    <%= form.text_field :precio_compra, id: :product_precio_compra %>
  </div>

  <div class="field">
    <%= form.label :precio_venta %>
    <%= form.text_field :precio_venta, id: :product_precio_venta %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad, id: :product_cantidad %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
